
  <div class="menu-bar">
<ul>
  <li class="active"><i class="fa fa-home"></i><a [routerLink] = "['/home']">Home</a></li>
  <li><a [routerLink] = "['/about']"><i class="fa fa-user" ></i>About Us</a>
    <div class="sub-menu-1">
      <ul>
        <li><a href="#">Mission</a></li>
        <li><a href="#">Vision</a></li>
        <li><a href="#">Team</a></li>
      </ul>
    </div>
  </li>
  <li><a [routerLink] = "['/services']"><i class="fa fa-clone" ></i>Services</a>
  <div class="sub-menu-1">
      <ul>
        <li><a href="#">Web Designing</a></li>
        <li class="hover-me"><a href="#">Marketing</a><i class="fa fa-angle-right"></i>
        <div class="sub-menu-2">
          <ul>
            <li><a href="#">SEO</a></li>
            <li><a href="#">Social Media</a></li>
            <li><a href="#">Email</a></li>
          </ul>
          </div>
        </li>
        <li class="hover-me"><a href="#">Mobile App</a><i class="fa fa-angle-right"></i>
         <div class="sub-menu-2">
          <ul>
            <li><a href="#">Android</a></li>
            <li><a href="#">iOS App</a></li>
            <li><a href="#">Iconic App</a></li>
            <li><a href="#">Flutter App</a></li>
            <li><a href="#">Unity App</a></li>
          </ul>
          </div>
        </li>
      </ul>
    </div></li>
  <li><a [routerLink] = "['/clients']"><i class="fa fa-users" ></i>Clients</a></li>
  <li><a [routerLink] = "['/investors']"><i class="fa fa-angellist" ></i>Investors</a></li>
  <li><a [routerLink] = "['/pricing']"><i class="fa fa-inr" ></i>Pricing</a></li>
  <li><a [routerLink] = "['/training']"><i class="fa fa-edit" ></i>Training</a></li>
</ul>
</div>

<app-layout></app-layout>

<app-footer></app-footer>
